# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore the virtual environment
venv/
env.py
# Ignore the Django secret key
*.secret_key

# Ignore log files
*.log

# Ignore environment-specific settings
.env

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore any other files or directories you want to exclude